.btn-flat {
    background-color: purple;
    color: white;
    margin: 10px 10px;
  }

.btn-xxl {
padding: 1rem 1.5rem;
font-size: 1.5rem;
}

#nvl {
    margin-left: 16px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}